<footer>
    <footer id="footer" class="">
        <section class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col mb-3">
                        <span><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png"
                                alt="" height="25"> <strong>Anthony yoab @ 2022</strong></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4">
                        <ul class="list-unstyled">
                            <li><a href="">Tentang</a></li>
                            <li><a href="">Panduan Komunitas</a></li>
                            <li><a href="">Privasi & Ketentuan</a></li>
                            <li><a href="">Solusi Penjualan</a></li>
                            <li><a href="">Pusat Keamanan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-3">
                        <ul class="list-unstyled">
                            <li><a href="">Aksesibilitas</a></li>
                            <li><a href="">Karier</a></li>
                            <li><a href="">Opsi Iklan</a></li>
                            <li><a href="">Ponsel</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-3">
                        <ul class="list-unstyled">
                            <li><a href="">Solusi Bakat</a></li>
                            <li><a href="">Solusi Pemasaran</a></li>
                            <li><a href="">Periklanan</a></li>
                            <li><a href="">Usaha Kecil</a></li>
                            <li>
                        </ul>
                    </div>
                    <div class="col-md-2 mb-3">
                        <ul class="list-unstyled">
                            <div class="row">
                                <div class="col-sm-1 pr-2"><i class="fa-solid fa-circle-question"></i></div>
                                <div class="col ml-2 ms-2 little-footer">
                                    <ul class="list-unstyled">
                                        <li><strong><a href=""> Ada Pertanyaan ?</a></strong></li>
                                        <li><a href="">Kunjungi pusat bantuan</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-1 pr-2"><i class="fa-solid fa-gear"></i></div>
                                <div class="col ml-2 ms-2 little-footer">
                                    <ul class="list-unstyled">
                                        <li><strong><a href=""> Kelola akun dan privasi Anda</a></strong>
                                        </li>
                                        <li><a href="">Buka pengaturan</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-2">
                        <h5>Follow Us</h5>
                        <div class="social-links d-flex pt-3">
                            <a href="#" class="twitter"><i class="fab fa-twitter px-3"></i></a>
                            <a href="#" class="facebook"><i class="fab fa-facebook px-3"></i></a>
                            <a href="#" class="instagram"><i class="fab fa-instagram px-3"></i></a>
                            <a href="#" class="linkedin"><i class="fab fa-linkedin px-3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</footer>