body {
    background: #eee;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #eee;
}

.sidebar li.active {
    background: orange;
    border-radius: 2px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
}

.content {
    background-color: #454D55;
    color: white;
}

.content i {
    color: white;
}

#main-page section {

    padding: 20px;
}

.card:hover {
    transform: scale(1.02);
}

.card a {
    color: white;
    text-decoration: none;
}

@media(max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}

.table-bg {
    padding: 10px 10px 1px 10px;
    background-color: rgb(56, 56, 56);
    border-radius: 4px;
}


#footer {
    margin-top: auto !important;
}

#footer section {

    padding: 20px;
}

.footer-content i {
    font-size: 25px;
}

.footer-content i:hover {
    transform: scale(1.5);
}