<div class="center-content">
    <form [formGroup]="formGroupLogin">
        <div class="form-group">
            <div>Usernameww</div>
            <div><input formControlName="username" type="text" class="input" placeholder="username"></div>
        </div>
        <div class="form-group">
            <div>Password</div>
            <div><input formControlName="password" type="password" class="input" placeholder="password"></div>
        </div>
        <div class="form-group">
            {{ message }}
        </div>
    </form>
</div>
<br>
<div class="center-content">
    <button (click)="submitLogin()" type="button">Submit Login</button>
</div>